<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.School_Jobs.mapper.FundValuationMapper">
    <resultMap id="BaseResultMap" type="cn.edu.neu.School_Jobs.model.FundValuation">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="fund_id" jdbcType="VARCHAR" property="fundId"/>
        <result column="evaluate_fee" jdbcType="LONGVARCHAR" property="evaluateFee"/>
        <result column="time" jdbcType="LONGVARCHAR" property="time"/>
        <result column="evaluate_fee_rate" jdbcType="LONGVARCHAR" property="evaluateFeeRate"/>
    </resultMap>
</mapper>
