<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.School_Jobs.mapper.HistoricalFundMapper">
    <resultMap id="BaseResultMap" type="cn.edu.neu.School_Jobs.model.HistoricalFund">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="fund_id" jdbcType="VARCHAR" property="fundId"/>
        <result column="history_price" jdbcType="LONGVARCHAR" property="historyPrice"/>
        <result column="date" jdbcType="LONGVARCHAR" property="date"/>
        <result column="history_rate" jdbcType="LONGVARCHAR" property="historyRate"/>
    </resultMap>

    <resultMap id="HistoryJoinFund" type="cn.edu.neu.School_Jobs.vo.HistoryJoinFundVo">
        <result column="fund_id" jdbcType="VARCHAR" property="fundId"/>
        <result column="history_price" jdbcType="LONGVARCHAR" property="historyPrice"/>
        <result column="date" jdbcType="LONGVARCHAR" property="date"/>
        <result column="history_rate" jdbcType="LONGVARCHAR" property="historyRate"/>
        <result column="fund_name" jdbcType="VARCHAR" property="fundName"/>
        <result column="manager_ids" jdbcType="VARCHAR" property="managerIds"/>
        <result column="manager_names" jdbcType="VARCHAR" property="managerNames"/>
        <result column="time" jdbcType="VARCHAR" property="time"/>
        <result column="sell_rate" jdbcType="VARCHAR" property="sellRate"/>
        <result column="buying_rate" jdbcType="REAL" property="buyingRate"/>
        <result column="hosting_fees" jdbcType="REAL" property="hostingFees"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="disappear" jdbcType="BIT" property="disappear"/>
        <result column="photo" jdbcType="VARCHAR" property="photo"/>
    </resultMap>

    <select id="findAllFundJoinHistory" parameterType="java.lang.String" resultMap="HistoryJoinFund">
    select * from historical_fund left join fund f on historical_fund.fund_id = f.fund_id
  </select>
</mapper>
