<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.School_Jobs.mapper.RecommendMapper">
    <resultMap id="BaseResultMap" type="cn.edu.neu.School_Jobs.model.Recommend">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>

</mapper>
