<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.School_Jobs.mapper.SellOrderMapper">
    <resultMap id="BaseResultMap" type="cn.edu.neu.School_Jobs.model.SellOrder">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="fund_id" jdbcType="VARCHAR" property="fundId"/>
        <result column="sell_time" jdbcType="DATE" property="sellTime"/>
        <result column="sell_share" jdbcType="REAL" property="sellShare"/>
        <result column="sure_net" jdbcType="REAL" property="sureNet"/>
        <result column="service_charge" jdbcType="REAL" property="serviceCharge"/>
        <result column="confirm_sign" jdbcType="BIT" property="confirmSign"/>
        <result column="cancel" jdbcType="BIT" property="cancel"/>
    </resultMap>

    <resultMap id="SellOrderJoinHistoryFund" type="cn.edu.neu.School_Jobs.vo.SellOrderJoinHistoryFund">
        <id column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="fund_id" jdbcType="VARCHAR" property="fundId"/>
        <result column="sell_time" jdbcType="DATE" property="sellTime"/>
        <result column="sell_share" jdbcType="REAL" property="sellShare"/>
        <result column="sure_net" jdbcType="REAL" property="sureNet"/>
        <result column="service_charge" jdbcType="REAL" property="serviceCharge"/>
        <result column="confirm_sign" jdbcType="BIT" property="confirmSign"/>
        <result column="history_price" jdbcType="LONGVARCHAR" property="historyPrice"/>
        <result column="date" jdbcType="LONGVARCHAR" property="date"/>
        <result column="history_rate" jdbcType="LONGVARCHAR" property="historyRate"/>
        <result column="cancel" jdbcType="BIT" property="cancel"/>
    </resultMap>

    <resultMap id="SellOrderJoinFund" type="cn.edu.neu.School_Jobs.vo.SellOrderJoinFundVo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="fund_id" jdbcType="VARCHAR" property="fundId"/>
        <result column="sell_time" jdbcType="DATE" property="sellTime"/>
        <result column="sell_share" jdbcType="REAL" property="sellShare"/>
        <result column="sure_net" jdbcType="REAL" property="sureNet"/>
        <result column="service_charge" jdbcType="REAL" property="serviceCharge"/>
        <result column="confirm_sign" jdbcType="BIT" property="confirmSign"/>
        <result column="fund_name" jdbcType="VARCHAR" property="fundName"/>
        <result column="manager_ids" jdbcType="VARCHAR" property="managerIds"/>
        <result column="manager_names" jdbcType="VARCHAR" property="managerNames"/>
        <result column="time" jdbcType="VARCHAR" property="time"/>
        <result column="sell_rate" jdbcType="VARCHAR" property="sellRate"/>
        <result column="buying_rate" jdbcType="REAL" property="buyingRate"/>
        <result column="hosting_fees" jdbcType="REAL" property="hostingFees"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="disappear" jdbcType="BIT" property="disappear"/>
        <result column="photo" jdbcType="VARCHAR" property="photo"/>
        <result column="cancel" jdbcType="BIT" property="cancel"/>
    </resultMap>


    <resultMap id="SellSumAmount" type="java.util.HashMap">
        <result column="sure_sell_amount" jdbcType="REAL" property="sureSellAmount"/>
    </resultMap>


    <select id="selectOrderWithHistoryFundByField" parameterType="com.alibaba.fastjson.JSONObject"
            resultMap="SellOrderJoinHistoryFund">
        SELECT *
        FROM sell_order
        LEFT JOIN historical_fund
        ON sell_order.fund_id = historical_fund.fund_id
        <where>
            <if test="userId!=null">
                user_id = #{userId}
            </if>
            <if test="confirmSign!=null">
                AND confirm_sign = #{cofirmSign}
            </if>
            AND cancel = 0
        </where>
    </select>

    <select id="selectHasSellMoney" parameterType="java.lang.Integer" resultMap="SellSumAmount">
    select
    sum(sell_share-service_charge)
    as sure_sell_amount
    from sell_order
    where user_id=#{userId}
    and confirm_sign=1
    AND cancel = 0
    group by user_id
  </select>


    <select id="findOrdersWithFundInfo" parameterType="java.lang.Integer" resultMap="SellOrderJoinFund">
    select *
    from sell_order
    left join fund
    on fund.fund_id=sell_order.fund_id
    where user_id=#{userId}
    order by sell_time DESC
  </select>

    <select id="findHistoryOrder" parameterType="com.alibaba.fastjson.JSONObject" resultMap="BaseResultMap">
        SELECT *
        FROM sell_order
        <where>
            <if test="day!=null">
                DATE_SUB(CURDATE(), INTERVAL #{day} DAY) &lt;= sell_time
            </if>
            <if test="userId!=null">
                AND
                user_id =#{userId}
            </if>
            <if test="confirmSign!=null">
                AND
                confirm_sign = #{confirmSign}
            </if>
            <if test="fundId!=null">
                AND
                fund_id = #{fundId}
            </if>
            AND cancel = 0
        </where>
    </select>



    <!--<select id="findOrder"-->
</mapper>
